// 工具栏背景色
$xt-toolbar-bg: #ffffff;
// 历史菜单背景色
$xt-tabbar-bg: #f5f5f5;

// 全局变量
:root {
  // 侧边栏宽度
  --xt-main-sidebar-width: 70px; // 侧边主导航宽度
  --xt-sub-sidebar-width: 250px; // 侧边次导航宽度
  --xt-sub-sidebar-collapse-width: 63px; // 侧边次导航收缩时宽度
  // Logo的高度
  --xt-logo-height: 50px;
  // top(顶部导航栏)的高度
  --xt-top-nav-height: 80px;
  // 工具栏的高度
  --xt-toolbar-height: 50px;
  // 历史菜单的高度
  --xt-tabbar-height: 50px;
}
