:root {
  --xt-color-dark: --el-text-color-primary;
  --xt-bg-color-dark: --el-bg-color;
  --xt-main-sidebar-width: 70px; // 侧边主导航宽度
  --xt-sub-sidebar-width: 250px; // 侧边次导航宽度
  --xt-sub-sidebar-collapse-width: 63px; // 侧边次导航收缩时宽度
  --xt-logo-height: 50px;// Logo的高度
  --xt-top-nav-height: 80px;// top(顶部导航栏)的高度
  --xt-toolbar-height: 50px;// 工具栏的高度
  --xt-tabbar-height: 50px;// 历史菜单的高度
}